@import "tailwindcss";

body {
  margin: 0;
  /* background: #f1f1f1; */
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter.ttf") format("truetype");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-italic.ttf") format("truetype");
}